<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<!-- Roles -->
	<security-role>
		<description>Role for save information</description>
		<role-name>administrator</role-name>
	</security-role>
	<security-role>
		<description>Role for read information</description>
		<role-name>reader</role-name>
	</security-role>

	<!-- Resource / Role Mapping -->
	<security-constraint>
		<display-name>Administrator area</display-name>
		<web-resource-collection>
	<web-resource-name>protected_resources</web-resource-name>
			<url-pattern>/services/*</url-pattern>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
		<description>User with administrator role</description>
			<role-name>administrator</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>Reader area</display-name>
		<web-resource-collection>
                <web-resource-name>protected_resources</web-resource-name>
			<url-pattern>/services/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description>User with reader role</description>
			<role-name>reader</role-name>
		</auth-constraint>
	</security-constraint>

	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
</web-app>
